[global]
server.socket_host = '127.0.0.1'
server.socket_port = 8080
log.screen = False

[dozer]
database_url = "sqlite:///" + dozer.config.get_root() + "/dozer.db"
icon_set = "glyphicons_pro"
server_root = dozer.config.get_root()

[/]
tools.trailing_slash.on = True
tools.staticdir.root = dozer.config.get_root()
tools.transaction.on = True
tools.user_session.on = True

[/jsonrpc]
request.process_request_body = False
tools.transaction.on = True
tools.user_session.on = True

[/static]
tools.staticdir.on = True
tools.staticdir.dir = 'static'
tools.transaction.on = True
tools.user_session.on = False

[/bootstrap]
tools.staticdir.on = True
tools.staticdir.dir = 'bootstrap'
tools.transaction.on = False
tools.user_session.on = False
