body {
    min-height: 2000px;
    padding-top: 70px;
}

.disabled {
    color: rgb(140, 140, 140);
}

#viewport {
    position: relative;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    height: 100%;
    clip: auto;
    overflow: scroll;
    resize: both;
}

.note {
    position: absolute;
    background-color: rgb(100%, 100%, 80%);
    border-style: solid;
    border-width: 1px;
}

.note-contents {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-sizing: border-box;
}

.note-contents h1,h2,h3:first-child {
    margin-top: 6px;
}

#note-edit {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Menlo, Consolas, Courier New, monospace;
}

