body {
    min-height: 2000px;
    padding-top: 70px;
}

.disabled {
    color: rgb(140, 140, 140);
}

#viewport {
    position: relative;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    height: 100%;
    clip: auto;
    overflow: scroll;
    resize: both;
}

#canvas {
    position: relative:
    border-width: 1px;
    left: 0px;
    top: 0px;
    width: 1000mm;
    height: 1000mm;
    clip: auto;
    overflow: hidden;
}

.note {
    position: absolute;
    background-color: rgb(100%, 100%, 80%);
    border-style: solid;
    border-width: 1px;
    box-sizing: content-box;
}

.note.selected {
    border-width: 3px;
    border-color: blue;
}

.note-contents {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-sizing: border-box;
}

/* Get rid of the extra space in front of header items at the top of the
 * note.  Otherwise, the header is rendered 20% into the note, wasting
 * substanital space on a 3" x 3" standard note.
 */
.note-contents h1,h2,h3:first-child {
    margin-top: 6px;
}

.note-contents h1 {
    font-size: 18px;
}

.note-contents h2 {
    font-size: 15px;
}

.note-contents h3 {
    font-size: 12px;
}

.note-contents h4 {
    font-size: 9px;
}

.note-contents h5 {
    font-size: 7px;
}

.note-contents h6 {
    font-size: 6px;
}

/* Style for the edit form. */
#note-edit {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Menlo, Consolas, Courier New, monospace;
    font-size: 12px;
}

